body {
    font-size: 15pt;
}

h2{
  height: 291px;
  background: linear-gradient(100deg,blue 34%,black 48%);
  color: white;
  font-size: 80px;
  text-align: center;
}

#m1{
  height: 600px;
  background: linear-gradient(135deg,red,white);
}
h1{
  color: white;
  text-align: center;
  font-size: 120px;
  padding-top: 160px;
}

#m2 {
  height: 600px;
  background: linear-gradient(135deg, yellow, white);
}

#m3 {
  height: 600px;
  background: linear-gradient(135deg, green, white);
}

div {
  height: 600px;
  background: linear-gradient(135deg, black, white);
}

#d5{
  height: 600px;
  background: linear-gradient(135deg, blue, white);
}

#d6{
  height: 600px;
  background: linear-gradient(135deg, Violet, white);
}

#d7{
  height: 600px;
  background: linear-gradient(135deg, LightGray, white);
}

#d8{
  height: 600px;
  background: linear-gradient(135deg, Orange, white);
}

#d9{
  height: 600px;
  background: linear-gradient(135deg, DodgerBlue, white);
}

#d10{
  height: 600px;
  background: linear-gradient(135deg, aqua, white);
}